body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex: 1;
}

.intro,
.info,
.review,
.call-to-action {
  flex: 2;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-logo {
  margin-right: 400px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.intro-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-main,
.hero-secondary {
  margin: 0;
}

.intro-text button {
  max-width: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.info-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review p {
  max-width: 500px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.cta-block {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  border-radius: 10px;
  padding: 30px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-text p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* styling */

.header,
.footer,
.intro {
  background-color: #1f2937;
  font-family: "Gill Sans", sans-serif;
}

.header-logo,
.hero-main,
.footer {
  color: #f9faf8;
  font-family: "Gill Sans", sans-serif;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-link,
.hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.intro-text button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px;
}

img {
  width: 400px;
  height: auto;
}

.info-header {
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Gill Sans", sans-serif;
}

.info-box div {
  border: 5px solid #3882f6;
  border-radius: 15px;
  padding: 50px;
}

.review {
  background-color: #e5e7eb;
  font-family: "Gill Sans", sans-serif;
}

.review p {
  color: #1f2937;
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
}

.cta-block {
  background-color: #3882f6;
  color: #f9faf8;
  font-family: "Gill Sans", sans-serif;
}

.cta-block button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 3px;
  width: 100px;
  padding: 3px;
}

.cta-header {
  font-size: 20px;
  font-weight: bold;
}
