.header,
.footer,
.intro {
  background-color: #1f2937;
  font-family: "Gill Sans", sans-serif;
}

.header-logo,
.hero-main,
.footer {
  color: #f9faf8;
  font-family: "Gill Sans", sans-serif;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-link,
.hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.intro-text button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px;
}

img {
  width: 600px;
  height: auto;
}

.info-header {
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Gill Sans", sans-serif;
}

.info-box div {
  border: 5px solid #3882f6;
  padding: 50px;
}

.review {
  background-color: #e5e7eb;
  font-family: "Gill Sans", sans-serif;
}

.review p {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.cta-block {
  background-color: #3882f6;
  color: #f9faf8;
  font-family: "Gill Sans", sans-serif;
}

.cta-block button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
}

.cta-header {
  font-size: 20px;
  font-weight: bold;
}
